.player-health{
    width: 100%;
    height: 20%;
}

.health-number {
    height: 100%;
    width: fit-content;
    margin: auto;
    font-size: 4rem;
    display: block;

}

.health-section{
    display: flex;

}

.health-section button {
    height: 100%;
    font-size: 2rem;
    padding: 2rem;
    border: none;
    border-radius: 0;

}

.player1 {
    bottom: 0;
}

.player2 {
   top: 0;
   transform: rotate(180deg);
}